/* COMMON */
.note {
	margin-top: 8px;
	font-size: 15px;
	line-height: 1.33;
	color: $secondary-color;
	display: block;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}