/* GENERAL */
body {
	font-family: $roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: $body-color;
	background-color: $background-color;
}
a {text-decoration: none;}
img {
	max-width: 100%;
	height: auto;
}
p {margin-bottom: 24px;}
ul {list-style: none;}
li {
	position: relative;
	padding-left: 16px;
	margin-bottom: 24px;
	&::before {
		content: '';
		position: absolute;
		top: 12px;
		left: 0;
		width: 3.25px;
		height: 3.25px;
		border-radius: 50%;
		background-color: #000;
	}
	&:last-child {margin-bottom: 0}
}
strong {font-weight: 700;}
video {max-width: 100%;}