@import '../../common_projects_utilities/css/reset',
		'../../common_projects_utilities/css/font-awesome',
        './components/fonts.scss',
        './components/colors.scss',
        './components/helpers.scss',
        './components/general.scss',
        './components/common.scss',
        './components/social-networks.scss',
        './components/footer.scss';

/* LAYOUT */
.container {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
}
.row {
	display: flex;
	&--column {flex-direction: column;}
	&--center {justify-content: center;}
	&--between {justify-content: space-between;}
	&--end {justify-content: flex-end;}
	&--astart {align-items: flex-start;}
	&--acenter {align-items: center;}
}
.column {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

/* TOPBAR */
.topbar {
	padding: 16px 0 15px;
	border-bottom: 1px dotted;

    margin-bottom: 32px;
}

/* HEADER */
.header {
    &__main {
        &--pretitle {
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #000000;
            text-transform: uppercase;

            margin-bottom: 16px;
        }
        &--title {
            font-family: $playfair;
            font-size: 44px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.09;
            letter-spacing: -1px;
            text-align: center;
            color: #121212;

            margin-bottom: 24px;
        }
        &--subtitle {
            width: 100%;
            max-width: 972px;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #828282;

            margin: 0px auto 32px auto;
        }
    }
    #map {
        width: 100%;
        max-width: 1920px;
        height: 650px;
    }
}

/* CONTENT */
/* Contenido (cajas de texto) */
.content {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	&__subtitle {
		margin: 80px 0 40px;
		
        max-width: 310px;

        font-size: 32px;
        font-weight: bold;
        line-height: 1.06;
        letter-spacing: normal;
        color: #000000;
	}
	&__link {
		font-weight: 700;
		color: #007ae6;
		transition: opacity .6s;
		&:hover {opacity: .6;}
	}
    &__viz {
        margin: 80px auto;
        &--title {
            max-width: 340px;

            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #000000;

            margin-bottom: 16px;
        }
        &--source {
            font-size: 15px;
            font-weight: normal;
            color: #828282;

            margin-bottom: 40px;
        }
        &--legend {
            font-size: 15px;
            font-weight: 500;
            text-align: right;
            color: #000000;

            margin-bottom: 40px;
        }
        &--chart {
            width: 100%;
            height: 500px;
            background-color: #313131;
        }
    }
    &__summary {
        margin: 80px 0;
        font-family: $playfair;
        font-size: 28px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: -0.2px;
        color: #000000;

        padding-left: 16px;
        border-left: 4px solid $body-color;
        opacity: 0;
        visibility: hidden;
        &--animated {
            opacity: 1;
            visibility: visible;
            transition: opacity .6s, visibility .6s;
        }
    }
}

/* Credits */
.credits {
	margin: 80px auto 96px;
	&__item {
		font-size: 15px;
		line-height: 1.33;
		&:not(&:last-child) {margin-right: 32px;}
	}
	&__label {
		color: $secondary-color;
		margin-right: 8px;
	}
}

/* Capital letter */
.capital-letter {
	float: left;
	font-family: $playfair;
	font-size: 46px;
	line-height: 1.04;
	letter-spacing: -1px;
	margin-right: 16px;
}

/* Media (images, videos) */
.media {
	margin: 80px auto;
    
	&--full {
		width: 100%;
		height: 500px;

        background-color: #313131;
		
		img {
			width: 100%;
		}
	}
    &--half {        
        div {
            width: 49%;
            background-color: #313131;
            height: 500px;
        }
    }
}


/* Cambio de estilos específicos para mapa de Mapbox */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';

    box-sizing: border-box;                
    pointer-events: none;

    opacity: 1;
    width: auto;
    min-width: 210px;
    &-content {
        background: #f5f5f5 !important;
        padding: 8px;

        //General - Textos
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #000000;

        .widget__title {
            padding-bottom: 8px;
            border-bottom: .5px dotted #000;
            margin-bottom: 8px;
    
            font-size: 12px;
            font-weight: bold;

            //Lógica de corte
            // text-overflow: ellipsis;
            // overflow: hidden; 
            // width: 100%;
            // white-space: nowrap;
        }
    
        .b-fuerzas {
            margin-bottom: 8px;
            display: flex;
            .sb-fuerza {
                width: 50%;
                span:first-of-type {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #000000;
                    opacity: .6;
                    margin-bottom: 8px;
                }
                span:last-of-type {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    color: #000000;
                }
            }
        }
    
        .bloques {
            &__title {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #000000;
                opacity: .6;
    
                margin-bottom: 8px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                .bloque__item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 4px;
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    span:first-of-type {
                        width: 30px;
                        font-size: 12px;
                        color: #000000;
                        margin-right: 4px;
                    }
                    .bloque__bar {
                        height: 6px;
                        width: 10px;
                        max-width: 133px;
                        border-radius: 2px;
                    }
                    span:last-of-type {
                        font-size: 12px;
                        color: #000000;
                        margin-left: 4px;
                    }
                }
            }
        }

        * {
            font-size: 12px;
        }
    }
    &-tip {
        border-top-color: #e6e6e6 !important;
    }   
}

@media only screen and (max-width: 767px) {
    .row {
		&--mobile-column {flex-direction: column;}
	}

	.column {
		width: 100%;
		box-sizing: border-box;
		padding: 0 16px;
	}

    /* Header */
    .topbar {
        margin-bottom: 24px;
    }
    
    .header {
        &__main {
            padding: 0 16px;
            &--title {
                font-size: 32px;
            }
            &--subtitle {
                margin: 0px auto 24px auto;
            }
        }
        #map {
            width: 100%;
            height: 565px;
        }
    }

    /* Aside */
    .top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
	}

	.share {
		box-sizing: border-box;
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
    
    /* Content */
    .content {
        &__subtitle {
            margin: 72px 0 40px 0;
        }
        &__viz {
            margin: 64px auto;
            &--source {
                margin-bottom: 32px;
            }
        }
    }
    .credits {
        margin: 64px auto;
        &__item {
            margin-right: 0px;
            margin-bottom: 8px;
        }
    }

	.note {text-align: left;}    

    .media {
		margin: 64px 0;
        &--half {
            div {
                width: 100%;
            }
            div:first-of-type {
                margin-bottom: 24px;
            }
        }
	}

	.summary {margin: 64px 0;}
}



//// Posibles filtros y leyendas para mapa
// .filters {
//     display: flex;
//     flex-direction: column;

//     margin: 24px auto;

//     & .filters__block-up {
//         display: flex;
//         justify-content: space-between;

//         margin-bottom: 16px;
//         button { width: 22.5%; }  
//     }

//     & .filters__block-down {
//         display: flex;
//         flex-direction: column;

//         & > div {
//             display: flex;
//             justify-content: space-between;
//         }

//         .filters__first-sub-block {
//             margin-bottom: 16px;
//         }

//         button { 
//             width: 22.5%;
//         }
//     }

//     button {
//         //Botón
//         height: auto;
//         min-height: 32px;
//         border: 0px;
//         border-radius: 2px;
//         box-shadow: 1px 2px 5px 0 rgba(197, 197, 197, 0.5);
//         background-color: #f1f1f1;

//         cursor: pointer;

//         &.selected {
//             background-color: #212121;
//             color: #fff;
//         }
//         &:focus {
//             outline: 0 !important;
//         }

//         //Textos
//         font-family: 'Roboto';
//         font-size: 15px;
//         font-weight: 500;
//         font-stretch: normal;
//         font-style: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         text-align: center;
//         color: #000;

//         //Círculos de colores
//         div {
//             width: 10px;
//             height: 10px;
//             border-radius: 50%;
//             display: inline-block;

//             margin-right: 2px;

//             &.filter__color--masmadrid {
//                 background-color: #20c0b2;
//             }
//             &.filter__color--psoe {
//                 background-color: #ea5458;
//             }
//             &.filter__color--cs {
//                 background-color: #f45a09;
//             }
//             &.filter__color--pp {
//                 background-color: #48aafd;
//             }
//             &.filter__color--podemos {
//                 background-color: #692772;
//             }
//             &.filter__color--vox {
//                 background-color: #77be2d;
//             }
//         }

//         //Negando eventos click a elementos interiores
//         div, span {
//             pointer-events: none;
//         }
//     }
// }

// .legends {
//     width: auto;
//     margin: 0 auto;

//     .legend {
//         width: auto;
//         height: 100%;
//         display: none;

//         &.selected {
//             display: flex;
//             flex-direction: column;

//             .legend__gradients {
//                 display: flex;
//                 flex-direction: row;
//             }

//             .legend__gradient {
//                 width: 100%;
//                 height: 6px;
//                 margin-bottom: 5px;                

//                 &--izquierda {
//                     width: 50%;
//                     background-image: linear-gradient(to right, #e0e400,#f6f7b3);
//                 }
//                 &--derecha {
//                     width: 50%;
//                     background-image: linear-gradient(to right, #e7e7e7,#000);
//                 }
		        
//                 &--participacion {
//                     background-image: linear-gradient(to right, #E4F4FB,#001A2D);
//                 }
//                 &--masmadrid {
//                     background-image: linear-gradient(to right, #bae8e4,#20c0b2);
//                 }
//                 &--psoe {
//                     background-image: linear-gradient(to right, #fbc9c7,#f60b01);
//                 }
//                 &--cs {
//                     background-image: linear-gradient(to right, #ffc09f,#f45a09);
//                 }
//                 &--pp {
//                     background-image: linear-gradient(to right, #c6e5ff,#48aafd);
//                 }
//                 &--podemos {
//                     background-image: linear-gradient(to right, #d7a7dd,#692772);
//                 }
//                 &--vox {
//                     background-image: linear-gradient(to right, #d5d9c0,#77be2d);
//                 }
//             }

//             .legend__values {
//                 display: flex;
//                 justify-content: space-between;

//                 font-family: 'Roboto';
//                 font-size: 13px;
//                 font-weight: 500;
//                 font-stretch: normal;
//                 font-style: normal;
//                 line-height: normal;
//                 letter-spacing: 0.6px;
//                 text-align: left;
//                 color: #000000;
//                 opacity: .5;
//             }
//         }
//     }    
// }

// .data-source {
//     font-size: 15px;
//     font-weight: bold;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.2;
//     letter-spacing: normal;
//     text-align: right;
//     color: #4f4f4f;
// }

